.venv*/
__pycache__/
*.py[cod]

.paddlex-cache/
.vscode/

movie/
trash/
model/

runs/*
!runs/annotations/
!runs/annotations/*.json

*.mp4
*.mov
*.MOV
*.avi
*.mkv
*.webm

*.pt
*.pth
*.safetensors
*.onnx
*.engine
*.weights
*.ckpt
